@import "../less/public.less";
.trim-left {
	padding-left: 0;
}

.trim-right {
	padding-right: 0;
}

.trim-col {
	padding-left: 0;
	padding-right: 0;
}

.trim-out {
	margin-left: -5px;
	margin-right: -5px;
}

.loading {
	transition: opacity 1s linear;
	background-color: white;
	opacity: 0;
}
