@import "public.less";

.sign-in {
	margin-top: 65px;

	.control-label {
		padding-top: 10px;
	}

	.form-control {
		height: 44px;
	}

	&-code {
		.btn {
			padding-top: 11px;
			padding-bottom: 11px;
		}
	}

	&-btn {
		margin-bottom: 15px;
	}

	&-btns {
		margin-top: 130px;
	}
}